version: '3.8'

services:
  shagram:
    build: .
    ports:
      - "8080"
    volumes:
      - ./data:/app/data
      - ./static:/app/static
      - ./migrations:/app/migrations
    environment:
      - DATABASE_PATH=/app/shagram.db
    container_name: shagram-app

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - shagram
    container_name: shagram-nginx